/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Variables */
:root {
    /* Primary Color */
    --green-200: hsl(148, 38%, 91%);
    --green-600: hsl(169, 82%, 27%);
    --red: hsl(0, 66%, 54%);
    /* Neutral Color */
    --white: hsl(0, 0%, 100%);
    --grey-500: hsl(186, 15%, 59%);
    --grey-900: hsl(187, 24%, 22%);
    /* Font */
    --ff: 'Karla', sans-serif;
    --fs: 16px;
    --fw-regular: 400;
    --fw-bold: 700;
}



/* Global Style */
body{
    font-family: var(--ff), sans-serif;
    font-size: var(--fs);
    font-weight: var(--fw-regular);
    color: var(--grey-900);
    background-color: var(--green-200);

    min-height: 100vh;
}

input, textarea, button{
    font-size: inherit;
    font-family: inherit;
}



/* Utility Classes */
.form-label{
    margin-bottom: .5rem;

    &::after{
        content: '*';
        margin-left: .25rem;
    }
}

.form-input{
    border: 1px solid var(--grey-500);
    padding: 0.5rem;
    border-radius: .25rem;
    margin-bottom: .5rem;
}

.form-error-message{
    color: var(--red);
    font-size: 0.875rem;
}



/* Custom Style */
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.75rem;
    border-radius: 1rem;
    background-color: var(--white);
    margin: 1rem;
}

.form-body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;

}

.input-group{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.input-half{
    width: auto;
    flex-grow: 1;
}

.form-input-radio{
    display: flex;
    gap: .5rem; /* If you change this */
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
}

.input-radio{
    width: calc(50% - .5rem); /* Then change this too */
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: 1px solid var(--grey-500);
    padding: 0.5rem;
    border-radius: .25rem;
}


.submit-button{
    border: none;
    background-color: var(--green-600);
    color: var(--white);
    padding: 0.75rem 1.5rem;
    border-radius: 0.25rem;
}

@media (max-width: 450px) {
    body{
        background-color: var(--white);
        height: auto;
    }

    .input-radio{
        width: auto;
        flex-grow: 1;
    }
}


/* Credit */
.attribution {
    font-size: 11px;
    text-align: center;
    position: fixed;
    bottom: 1rem;
    left: 0;
    right: 0;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}